@import "./config/variables.scss";

.navbar {
  background-color: transparent;
}

.events-container {
  margin: 12px 0;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
  h1 {
    font-size: 20px !important;
  }
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 12px i {
      cursor: pointer;
    }
    div {
      display: flex;
      align-items: center;
      h1 {
        margin: 0 10px !important;
        margin-bottom: 0 !important;
        cursor: pointer;
      }
    }
  }
}

.day {
  display: block !important;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
  cursor: pointer;
  .day-of-month {
    margin-bottom: 5px;
    padding: 3px;
  }
  h1 {
    color: lightgrey;
    display: inline;
  }
  h1:first-of-type {
    font-size: 16px !important;
  }
  .selected-month {
    h1 {
      color: black;
    }
  }
  .selected-day {
    background-color: $lsupurple;
    border-bottom-right-radius: 5px;
    width: fit-content;

    h1 {
      color: white;
    }
  }
}

.tooltip-container {
  max-width: 576px;
  padding: 16px;
  h1 {
    color: black;
    padding: 0;
    font-weight: bold;
    max-width: 65%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
  }
  .body {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, max-height 0.2s;
  }
  .expand {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
  }
  .content {
    position: relative;
    overflow: scroll;
    max-height: 200px;
  }
}

.event {
  display: flex;
  align-items: center;
  color: white;
  height: 35px;
  margin-bottom: 5px;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 !important;
  }
}
.eventCollapse {
  color: grey;
  border: 1px solid lightgray;
}
.event-start {
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.event-end {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.event-mobile {
  color: black;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 10px;
  cursor: pointer;
  flex-direction: column;
  height: auto;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .left {
      display: flex;
      align-items: center;
    }
  }
  .event-title {
    width: 224px;
  }
  .body {
    width: 100%;
    margin-top: 8px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, max-height 0.2s;
    .description {
      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
  .body p {
    width: 100%;
    white-space: normal;
    overflow: visible;
  }
  .expand {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
  }
}
.color-bar {
  min-height: 30px;
  width: 5px !important;
  border-radius: 10px;
  margin-right: 10px;
}
#event-list {
  min-height: 200px;
}

#week-header {
  display: flex;
  padding: 0;
  .dayLetter {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    h1 {
      margin: 0;
      padding: 5px;
    }
  }
}

#list-header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.day-mobile {
  border: none;
  height: auto;
  h1 {
    display: block;
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 5px;
  }
  .event-dots {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .dot {
    width: 4px;
    height: 4px;
    margin: 1px;
    border-radius: 50%;
  }
  .selected-day {
    background-color: $lsupurple;
    border-bottom-right-radius: 5px;
    color: white;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .day {
    h1:first-of-type {
      font-size: 12px !important;
    }
  }
  .box {
    h1 {
      font-size: 16px !important;
    }
  }
}
