@use "config/variables.scss";

#reserve-space {

  //begin new styles
  position: relative;
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

  .error {
    color: #ff4040;
  }

  .mapButton {
    display: flex;
    flex-direction: column;
    background: #fdd023;
    width: 40px;
    height: 40px;
    color: #434343;
    text-transform: uppercase;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 700;
    font-size: 8px;
    letter-spacing: 2px;
    padding-top: 2px;
    cursor: pointer;
    padding-left: 2px;

    i {
      font-size: 15px;
    }
  }

  .room-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 50px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, .05);
    margin-left: -16px;
    margin-right: -16px;
    background: white;
  }

  .slot-prompt {
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    display: block;
  }

  .slot-time {
    display: block;
  }

  .slot-list {
    .slot.disabled {
      opacity: 0.2;
    }
  }

  .room-details {
    font-size: 14px;

    a {
      font-weight: 700;
      color: #3c1053;
    }
  }

  .room-header {
    background: white;
    -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    margin: -36px -20px 20px -20px;
    flex-direction: column;

    .room-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
        max-height: 50vh;
        margin: 0;
        object-fit: cover;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }
    }

    .room-label {
      margin: 20px;

      h3 {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.2px;
        line-height: 14px;
        text-transform: uppercase;
        font-family: "Roboto";
      }

      .room-date {
        display: flex;
        flex-direction: column;
        border: 1px solid #ececec;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, .05);
      }

      .selected-label {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .selected-date {
        font-size: 14px;
      }

    }
  }

  span.day-num {
    font-size: 27px;
    font-weight: 700;
    line-height: 24px;
  }

  //end new styles

  .day {
    height: 7vw;
  }

  .column {
    width: 50%;
    padding: 12px;

    h3 {
      font-size: xx-large;
    }
  }

  .selected {
    background: #3c1053;
    color: white;
  }

  .slot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    padding: 20px;
    border-radius: 4px;
    background: #f6f6f6;
    letter-spacing: 2px;
    font-size: 16px;
    color: #3c1053;
    cursor: pointer;
    width: 100%;
    border: none;

    h4 {
      font-size: 16px;
      margin: 0;
      color: black;
    }
  }

  .slot-selected {
    background: #3c1053;
    color: white;

    h4 {
      color: variables.$lsupurple;
    }
  }

  .disabled {
    h4 {
      color: lightgray;
    }
  }

  @media screen and (max-width: 768px) {

    .day {
      height: 12vw;
    }

    .column {
      width: 100%;
    }

    .selected {
      border: 2px solid variables.$lsupurple;
    }
  }

  @media screen and (max-width: 1200px) {
    span.day-num {
      font-size: 16px;
    }

    span.day-month {
      font-size: xx-small;
    }
  }

}