@import "./config/variables.scss";

#reserve-space {

  //begin new styles
  position: relative;
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

  .error {
    color: #ff4040;
  }

  .mapButton {
    display: flex;
    flex-direction: column;
    background: #fdd023;
    width: 40px;
    height: 40px;
    color: #434343;
    text-transform: uppercase;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 700;
    font-size: 8px;
    letter-spacing: 2px;
    padding-top: 2px;
    cursor: pointer;
    padding-left: 2px;

    i {
      font-size: 15px;
    }
  }

  .mapModal img {
    width: 100%;
  }

  .roomBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 50px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, .05);
    margin-left: -16px;
    margin-right: -16px;
    background: white;
  }

  .bookingBreadcrumb {
    position: absolute;
    z-index: 2;
    top: -60px;
    color: white;
    letter-spacing: 0.125rem;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-left: 10px;

    i.fas.fa-chevron-right {
      margin: 0px 10px;
    }

    a {
      color: white;
    }

    a:hover {
      color: #fdd023
    }

    a.current-crumb {
      border-bottom: 2px solid #fdd023;
    }
  }

  .slotPrompt {
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    display: block;
  }

  .slotTime {
    display: block;
  }

  .slot-list {
    .slot.disabled {
      opacity: 0.2;
    }
  }

  .roomDetails {
    font-size: 14px;

    a {
      font-weight: 700;
      color: #3c1053;
    }

    .roomFooter {
      margin-bottom: 1rem;
    }
  }

  .roomHeader {
    background: white;
    -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    margin: -36px -20px 20px -20px;
    flex-direction: column;

    .roomImage {
      width: 100%;

      img {
        width: 100%;
        height: auto;
        max-height: 50vh;
        margin: 0;
        object-fit: cover;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }
    }

    .roomLabel {
      margin: 20px;

      h3 {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.2px;
        line-height: 14px;
        text-transform: uppercase;
        font-family: "Roboto";
      }

      .roomDate {
        display: flex;
        flex-direction: column;
        border: 1px solid #ececec;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 5px 5px 13px rgba(0, 0, 0, .05);
      }

      .selectedLabel {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .selectedDate {
        font-size: 14px;
      }

    }
  }


  .indicator>div {
    opacity: 0.5;
  }

  span.numDay {
    font-size: 27px;
    font-weight: 700;
    line-height: 24px;
  }

  .dayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  //end new styles


  .day {
    height: 7vw;
  }

  .column {
    width: 50%;
    padding: 12px;

    h3 {
      font-size: xx-large;
    }
  }

  .indicator {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    h1 {
      margin: 0;
    }

    .available {
      color: black;
      opacity: 1;
    }

    &.selected .available {
      color: white;
    }
  }

  .selected {
    background: #3c1053;
    color: white;
  }

  .slot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    padding: 20px;
    border-radius: 4px;
    background: #f6f6f6;
    letter-spacing: 2px;
    font-size: 16px;
    color: #3c1053;
    cursor: pointer;
    width: 100%;
    border: none;

    h4 {
      font-size: 16px;
      margin: 0;
      color: black;
    }
  }

  .slot-selected {
    background: #3c1053;
    color: white;

    h4 {
      color: $lsupurple;
    }
  }

  .disabled {
    h4 {
      color: lightgray;
    }
  }

  @media screen and (max-width: 768px) {

    .day {
      height: 12vw;
    }

    .column {
      width: 100%;
    }

    .selected {
      border: 2px solid $lsupurple;
    }
  }

  @media screen and (max-width: 1200px) {
    span.numDay {
      font-size: 16px;
    }

    span.monthDay {
      font-size: xx-small;
    }
  }

  @media (max-width:767px) {
    .bookingBreadcrumb {
      font-size: 9px;
      top: -55px;
      width: 100%;
      margin-left: 0px;
      text-align: center;
    }
  }

}